* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}

h1 {
  color: #12d342;
  text-align: center;
  margin-bottom: 20px;
}

.bookmarkForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  font-size: 1rem;
  background-color: #12d342;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0cb637;
}

#bookmark-list {
  list-style: none;
  padding: 0px;
}

#bookmark-list li {
  background-color: #f4f4f4;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#bookmark-list button {
  background-color: #d3240d;
  padding: 5px 10px;
}

#bookmark-list button:hover {
  background-color: #bb1d08;
}
