body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url("https://plus.unsplash.com/premium_photo-1661284832790-b49f8a251cd7?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  text-align: center;
  transition: filter 0.7s;
}

h1 {
  font-size: 60px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.btn {
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
  background-color: aqua;
  border: none;
  border-radius: 5px;
  font-size: 20px; 
}

.btn:hover {
  filter: brightness(0.8);
}

.active.container {
  filter: blur(5px) brightness(0.7);
}

.popup-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 400px;
  height: 200px;
  top: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: url('https://images.unsplash.com/photo-1485527172732-c00ba1bf8929?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG9mZmVyfGVufDB8fDB8fHww');
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  opacity: 1;
  transition: all 0.7s;
}

h2 {
  font-size: 30px;
  margin: 10px 0;
  font-family: sans-serif;
  color: blueviolet;
}

label {
  color: black;
  font-family: sans-serif;
}

.popup-btn {
  background-color: orangered;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border: 2p solid;
  border-radius: 5px;
}

.input {
  border: 2px solid;
  padding: 20px;
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}

.input::placeholder {
  color: lightgray;
}

.close-icon {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.close-icon:hover {
  color: orangered;
}

.active.popup-container {
  visibility: hidden;
  opacity: 0;
  top: 10%;
}